.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B8BFF8;
}

h1{
    color: #ffffff;
    text-align: center;
}

h2 {
    color: #B8BFF8;
    text-align: left;
}

.wrapper {
    display: flex;
    justify-content: space-between; 
    max-width: 1500px;
    margin: 0 auto;
    background-color: #B8BFF8;
}

.content-image-container {
    width: 40%;
}

.image-mood-container {
    width: 60%;
}

.title-container,
.image-upload-container,
.image-mood-container {
    margin: 20px 10px 20px 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0D0221;
}

.title-container h1,
.image-upload-container h1,
.image-mood-container h1 {
    margin: 0;
}

#preview {
    margin: 3px;
    padding: 0;
    border: 0px dashed #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
}

#preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire area */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#preview .placeholder {
    color: #999;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-placeholder {
    /* Other styles */
    width: 100%; /* Adjust as needed */
    height: 200px; /* Adjust the height of the placeholder box */
    background-color: #f0f0f0; /* Placeholder background color */
    border: 1px solid #ccc; /* Placeholder border */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 10px; /* Add some space below the placeholder */
    overflow: hidden; /* Hide overflow content */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-button {
    cursor: pointer;
    padding: 10px 40px;
    background-color: #A5D8FF; /* Blue color */
    color: #000000; /* White color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    /* Center horizontally */
    margin: 0 auto;
    display: block; /* Ensure the button takes up the full width */
}

.image-placeholder img {
    width: 100%; /* Make the image fill the placeholder box */
    height: 100%; /* Make the image fill the placeholder box */
    object-fit: cover; /* Ensure the image covers the entire box */
}


/* Hide the file input */
#imageInput {
    display: none;
}

/* Style for the custom button */
#uploadButton {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #0D0221;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    /* Add styles for icon */
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

/* Style for the icon */
#uploadIcon {
    margin-right: 5px; /* Add some space between icon and text */
}

.logo-img {
    width: 40px;
    margin-right: 20px;
}

.title {
    display: flex;
    align-items: center;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    flex-direction: column; /* Align items vertically */
}

.title-container img {
    width: 40px; /* Adjust the width of the logo as needed */
    margin-bottom: 10px; /* Add some space between the logo and header */
}

.title-container h1 {
    margin: 0;
}

.mood-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.left-section,
.right-section {
    width: 48%; /* Adjust as needed */
    margin: 10px; /* Adjust spacing between sections */
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #0D0221;
    color: #fff;
}

.left-section h2,
.right-section h2 {
    margin: 0;
    margin-bottom: 10px; /* Add some space between heading and content */
}

 /* Style for the chat input */
 .chat-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Style for the send button */
.send-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #0D0221;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.mood-buttons {
    width: 100%; /* Adjust as needed */
    margin-bottom: 20px;
    color: #fff;
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Create 3 columns with equal width */
    grid-gap: 10px; /* Adjust the gap between buttons */
}

.mood-buttons button {
    padding: 15px 30px; /* Adjust padding to increase button size */
    font-size: 18px; /* Adjust font size to increase button text size */
}

.chat-container {
    position: relative;
}

.send-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-20%);
    cursor: pointer;
}

.send-icon i {
    font-size: 20px;
    color: #0D0221;
}